<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/iframe.css">
</head>

<body>
    <table class ="">
        <thead>
            <tr>
                <th class="cols">CS ID</th>
                <th class="cols">고객 ID</th>
                <th class="cols">건의 내용</th>
            </tr>
        </thead>
        <tbody id = "loop-cs-list">
            <% data.forEach(function (elem) { %>
                <tr>
                    <td class = "cell"><%= elem["CS ID"] %></td>
                    <td class = "cell"><%= elem["고객 ID"] %></td>
                    <td class = "cell"><%= elem["건의 내용"] %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewCspage">';
            textData += '<input type="hidden" name="table" value="cs">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }
    </script>
</body>
</html>