<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <th>CS ID</th>
        <th>고객 ID</th>
        <th>건의 내용</th>
        <% data.forEach(function (elem) { %>
            <tr>
                <td><%= elem["CS ID"] %></td>
                <td><%= elem["고객 ID"] %></td>
                <td><%= elem["건의 내용"] %></td>
            </tr>
        <% }); %>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewCspage">';
            textData += '<input type="hidden" name="table" value="cs">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }
    </script>
</body>
</html>