<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form action="/InputFixedCost" method="post"accept-charset="UTF-8">
        <div class = "int-area">
            <input type = "text" name = "upkeep" id = "upkeep" autocomplete = "off">
            기업 유지비
        </div>
        <div class = "int-area">
            <input type = "text" name = "marketing" id = "marketing" autocomplete="off">
            마케팅비
        </div>
        <div class = "int-area">
            <input type = "text" name = "laborcost" id = "laborcost" autocomplete = "off">
            인건비
        </div>
        <div class = "btn-area">
            <button type="submit">등록</button>
        </div>
    </form>
</body>
</html>