<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/iframe.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <table class ="">
        <thead>
            <tr>
                <th class="cols">날짜</th>
                <th class="cols">기업 유지비</th>
                <th class="cols">마케팅비</th>
                <th class="cols">인건비</th>
            </tr>
        </thead>
        <tbody id = "loop-fixed-expenditure-list">
            <% data.forEach(function (elem) { %>
                <tr>
                    <td class = "cell"><%= elem["날짜"] %></td>
                    <td class = "cell money"><%= elem["기업 유지비"] %></td>
                    <td class = "cell money"><%= elem["마케팅비"] %></td>
                    <td class = "cell money"><%= elem["인건비"] %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewAllFixedCostpage">';
            textData += '<input type="hidden" name="table" value="고정 지출">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }

        var length = document.getElementsByClassName('money').length;
        for (var i = 0; i < length; i++) {
            var money = $('.money').eq(i).text();
            var money2 = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $('.money').eq(i).text(money2);
        }
    </script>
</body>
</html>