<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <h1>재고 관리자 페이지</h1>
        <br><br><br>
        <h3>거래처 등록 모듈</h3>
        <input type="text" placeholder="ID" id="inputid" />
        <input type="text" placeholder="이름" id="inputname" />
        <br>
        <button class="btn write-btn" id="OK">등록</button>

        <script>
            $("#OK").click(function(){
                $.ajax({
                    url: '/CorporateRegistration',
                    async: true,
                    type: 'POST',
                    data: {
                        id: $("#inputid").val(),
                        name: $("#inputname").val()
                    },
                    dataType: 'json',
                    success: function(data) {
                    },
                    error: function(err) {
                        alert(err);
                    }
                }); 
            });
        </script>
    </body>
</html>