<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <input type="text" placeholder="사번" id="inputid" />
        <input type="text" placeholder="패스워드" id="inputpw" />
        <br>
        <button class="btn write-btn" id="OK">로그인</button>

        <script>
            $("#OK").click(function(){
                $.ajax({
                    url: '/Login',
                    async: true,
                    type: 'POST',
                    data: {
                        id: $("#inputid").val(),
                        pw: $("#inputpw").val()
                    },
                    dataType: 'json',
                    success: function(data) {
                        switch (data["pageid"]) {
                        case "재고":
                            location.href = "/materials";
                            break;
                        
                        case "재무":
                            location.href = "/finance";
                            break;

                        case "고객":
                            location.href = "/cs";
                            break;
                        
                        default:
                            alert("로그인 실패!");
                        }
                    },
                    error: function(err) {
                        alert(err);
                    }
                }); 
            });
        </script>
    </body>
</html>