<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/main.css">
    <link rel = "stylesheet" href = "css/id.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script>
        function open_sidemenu(event){
            var jegomn = document.getElementById('JEGO-side');
            var jemumn = document.getElementById('JEMU-side');
            var gogekmn = document.getElementById('GOGEK-side');
            jegomn.style.display = "none";
            jemumn.style.display = "none";
            gogekmn.style.display = "none";
            switch(event.target.value){
            case "1":
                jegomn.style.display = "block"
                break;
            case "2":
                jemumn.style.display = "block"
                break;
            case "3":
                gogekmn.style.display = "block"
                break;
            }
        }
        function open_input(event){
            var box = [[document.getElementById('ALLJEGO-search')
                        ,document.getElementById('Corporate-search')
                        ,document.getElementById('Corporate-input')
                        ,document.getElementById('Corporate-item-search')
                        ,document.getElementById('item-input')
                        ,document.getElementById('input-item-warehousing')
                        ,document.getElementById('input-item-search')
                        ,document.getElementById('order')
                        ,document.getElementById('order-search')]
                        ,[document.getElementById('ALLJEMU-search')
                        ,document.getElementById('fixed-expenditure-search')
                        ,document.getElementById('fixed-expenditure-input'),
                        document.getElementById('staff-list-search')
                        ,document.getElementById('wating-order-search')
                        ,document.getElementById('sale-cost-search')],
                        [document.getElementById('cs-list-search')]];
            var a = parseInt((event.target.value)/10);
            var b = (((event.target.value)%10)-1);
            for(var i = 0; i<box.length;i++){

                for(var j=0; j<box[i].length;j++){
                    box[i][j].style.display = "none";
                }
            }
            box[Number(a)][Number(b)].style.display ="block";
        }
        const SearchFunc = (event) => {
            let name = event.target.value;
            let frame = document.getElementById(name + "Frame");
            let value = document.getElementById(name + "Value").value;
            value = `'` + value + `'`;
            frame.contentWindow.postMessage(value, '*');
        }
    </script>    
</head>

<body>
    <div class="Topheader">  
        <div class="Topmenu">
            <div class ="logo">로고 이미지 자리</div>
            <label class="menu" ><input type = "radio" id="topradio" name = "tm" value="1" onclick='open_sidemenu(event)'>재고관리</label>
            <label class="menu" ><input type = "radio" id="topradio" name = "tm" value="2" onclick='open_sidemenu(event)'>재무관리</label>
            <label class="menu" ><input type = "radio" id="topradio" name = "tm" value="3" onclick='open_sidemenu(event)'>고객관리</label>
        </div>
    </div> 
    <div class = "viewer">

    </div>
    <section class = "box">
        <div class = "sidebar">
            <label class = "Toplabel">MENU</label>
            <div id = "JEGO-side">
                <label class="sidemenuTop" style="text-align: center; font-weight: bold; font-size : 20px">재고관리</label>
                <% if (data["부서 ID"] == "재고") { %>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="1" onclick='open_input(event)'>전체 재고 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="2" onclick='open_input(event)'>거래처 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="3" onclick='open_input(event)'>거래처 등록</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="4" onclick='open_input(event)'>거래처 물품 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="5" onclick='open_input(event)'>물품 등록</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="6" onclick='open_input(event)'>입고 처리</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="7" onclick='open_input(event)'>입고 현황 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="8" onclick='open_input(event)'>발주 요청</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="9" onclick='open_input(event)'>발주 요청 조회</label>
                <%} else {%>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="1" onclick='open_input(event)'>전체 재고 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="2" onclick='open_input(event)'>거래처 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="4" onclick='open_input(event)'>거래처 물품 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="7" onclick='open_input(event)'>입고 현황 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="9" onclick='open_input(event)'>발주 요청 조회</label>
                <%} %>
            </div>
            <div id = "JEMU-side">
                <label class="sidemenuTop" style="text-align: center; font-weight: bold; font-size : 20px">재무관리</label>
                <% if (data["부서 ID"] == "재무") { %>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="11" onclick='open_input(event)'>전체 재무 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="12" onclick='open_input(event)'>고정 지출 금액 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="13" onclick='open_input(event)'>고정 지출 추가 입력</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="14" onclick='open_input(event)'>직원 명단 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="15" onclick='open_input(event)'>발주 대기 목록 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="16" onclick='open_input(event)'>판매 실적 조회</label>
                <%} else {%>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="11" onclick='open_input(event)'>전체 재무 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="12" onclick='open_input(event)'>고정 지출 금액 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="14" onclick='open_input(event)'>직원 명단 조회</label>
                    <label class="sidemenu" ><input type = "radio" name = "sm" value="16" onclick='open_input(event)'>판매 실적 조회</label>
                <%} %>
            </div>
            <div id = "GOGEK-side">
                <label class="sidemenuTop" style="text-align: center; font-weight: bold; font-size : 20px">고객관리</label>
                <label class="sidemenu" ><input type = "radio" name = "sm" value="21" onclick='open_input(event)'>CS목록 조회</label>
            </div>
        </div>
        <div class="backgroundbox">
            <div class="inputbox" id="ALLJEGO-search">
                <div class = "sidevalue">전체 재고 조회</div></br>
                <label>
                    <input type="text" id="AllGoodsValue">
                    <button type="submit" value="AllGoods" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "AllGoodsFrame" src = "ViewAllGoodspage" width="100%" height="500px"></iframe></div>
            </div>
            <div class="inputbox" id="Corporate-search">
                <div class = "sidevalue">거래처 조회</div></br>
                <label>
                    <input type="text" id="CorpValue">
                    <button type="submit" value="Corp" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "CorpFrame" src = "ViewCorppage" width="100%" height="500px"></iframe></div>
            </div>
            <div class="inputbox" id="Corporate-input">
                <div class = "sidevalue">거래처 등록</div></br>
                <div><iframe frameborder="0" src = "CorpRegipage" width="100%" height="300px"></iframe></div>
            </div>
            <div class="inputbox" id="Corporate-item-search">
                <div class = "sidevalue">거래처 물품 조회</div></br>
                <label>
                    <input type="text" id="CorpGoodsValue">
                    <button type="submit" value="CorpGoods" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "CorpGoodsFrame" src = "ViewCorpGoodspage" width="100%" height="500px"></iframe></div>
            </div>
            <div class="inputbox" id="item-input">
                <div class = "sidevalue">물품 등록</div></br>
                <div><iframe frameborder="0" src = "GoodsRegipage" width="100%" height="400px"></iframe></div>
            </div>
            <div class="inputbox" id="input-item-warehousing">
                <div class = "sidevalue">입고 처리</div></br>
                <div><iframe frameborder="0" src = "Warehousingpage" width="100%" height="300px"></iframe></div>
            </div>
            <div class="inputbox" id="input-item-search">
                <div class = "sidevalue">입고 현황 조회</div></br>
                <label>
                    <input type="text" id="WarehousingValue">
                    <button type="submit" value="Warehousing" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "WarehousingFrame" src = "ViewWarehousingpage" width="100%" height="500px"></iframe></div>
            </div>
            <div class="inputbox" id="order">
                <div class = "sidevalue">발주 요청</div></br>
                <div><iframe frameborder="0" src = "OrderRequestpage" width="100%" height="300px"></iframe></div>
            </div>
            <div class="inputbox" id="order-search">
                <div class = "sidevalue">발주 요청 조회</div></br>
                <label>
                    <input type="text" id="OrderReqValue">
                    <button type="submit" value="OrderReq" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "OrderReqFrame" src = "ViewOrderReqpage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="ALLJEMU-search">
                <div class = "sidevalue">전체 재무 조회</div></br>
                <label>
                    <input type="text" id="AllFinanceValue">
                    <button type="submit" value="AllFinance" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "AllFinanceFrame" src = "ViewAllFinancepage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="fixed-expenditure-search">
                <div class = "sidevalue">고정 지출 금액 조회</div></br>
                <label>
                    <input type="text" id="AllFixedCostValue">
                    <button type="submit" value="AllFixedCost" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "AllFixedCostFrame" src = "ViewAllFixedCostpage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="fixed-expenditure-input">
                <div class = "sidevalue">고정 지출 추가 입력</div></br>
                <div><iframe frameborder="0" src = "InputFixedCostpage" width="100%" height="300px"></iframe></div>
            </div> 
            <div class="inputbox" id="staff-list-search">
                <div class = "sidevalue">직원 명단 조회</div></br>
                <label>
                    <input type="text" id="EmployeeValue">
                    <button type="submit" value="Employee" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "EmployeeFrame" src = "ViewEmployeepage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="wating-order-search">
                <div class = "sidevalue">발주 대기 목록 조회</div></br>
                <label>
                    <input type="text" id="ProcessOrderReqValue">
                    <button type="submit" value="ProcessOrderReq" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "ProcessOrderReqFrame" src = "ProcessOrderReqpage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="sale-cost-search">
                <div class = "sidevalue">판매 실적 조회</div></br>
                <label>
                    <input type="text" id="SalesValue">
                    <button type="submit" value="Sales" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "SalesFrame" src = "ViewSalespage" width="100%" height="500px"></iframe></div>
            </div> 
            <div class="inputbox" id="cs-list-search">
                <div class = "sidevalue">CS목록 조회</div></br>
                <label>
                    <input type="text" id="CsValue">
                    <button type="submit" value="Cs" onclick="SearchFunc(event)">검색</button>
                </label>
                <div><iframe frameborder="0" id = "CsFrame" src = "ViewCspage" width="100%" height="500px"></iframe></div>
            </div> 
        </div>
    </section>
    <!-- <input type="hidden" id="jsonData" value="<%= JSON.stringify(data)%>" />
    <script>
        var sData = document.getElementById("jsonData").getAttribute("value");
    </script> -->
</body>
</html>