
#JEGO-side{
    display: none;
}
#JEMU-side{
    display: none;
}
#GOGEK-side{
    display: none;
}
#ALLJEGO-search{
    display: none;
}
#Corporate-search{
    display: none;
}
#Corporate-input{
    display: none;
}
#Corporate-item-search{
    display: none;
}
#item-input{
    display: none;
}
#input-item-warehousing{
    display: none;
}
#input-item-search{
    display: none;
}
#order{
    display: none;
}
#order-search{
    display: none;
}
#ALLJEMU-search{
    display: none;
}
#fixed-expenditure-search{
    display: none;
}
#fixed-expenditure-input{
    display: none;
}
#staff-list-search{
    display: none;
}
#wating-order-search{
    display: none;
}
#sale-cost-search{
    display:none;
}
#cs-list-search{
    display: none;
}