<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form action="/CorporateRegistration" method="post"accept-charset="UTF-8">
        <div class = "int-area">
            <input type = "text" name = "id" id = "id"
            autocomplete="off">
            <label for = "id">거래처 ID</label>
        </div>
        <div class = "int-area">
            <input type = "text" name = "name" id = "name"
            autocomplete = "off">
            <label for = "name">거래처 명</label>
        </div>
        <div class = "btn-area">
            <button type="submit">등록</button>
        </div>
    </form>
</body>
</html>