<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <th>거래처 ID</th>
        <th>거래처 명</th>
        <% data.forEach(function (elem) { %>
            <tr>
                <td><%= elem["거래처 ID"] %></td>
                <td><%= elem["거래처 명"] %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>