<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <th>거래처 ID</th>
        <th>물품 ID</th>
        <th>물품명</th>
        <th>물품 도매가</th>
        <% data.forEach(function (elem) { %>
            <tr>
                <td><%= elem["거래처 ID"] %></td>
                <td><%= elem["물품 ID"] %></td>
                <td><%= elem["물품명"] %></td>
                <td><%= elem["물품 도매가"] %></td>
            </tr>
        <% }); %>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewCorpGoodspage">';
            textData += '<input type="hidden" name="table" value="거래처 물품">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }
    </script>
</body>
</html>